@use "./variable"  as var;
@use"./webInterFace";
@use "./color";
// @use "./sidebar";
// @use "./customizer";
// @use "./component";
// @use "./common";

@import 'bootstrap-icons/font/bootstrap-icons.css';
